venv
taqathon.pdf
.env
.env.local
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.xlsx
*.xls
*.json
*.pickle
*.pkl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar
*.gz
*.rar
*.7z
*.bak
*.swp
*.tmp
